<!DOCTYPE html>
<html>
<head>
  <title>MailbuilderPreview</title>
  <%= stylesheet_link_tag    "mailbuilder-preview/application", :media => "all" %>
  <%= javascript_include_tag "mailbuilder-preview/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
