

<h1>Email's</h1>
<ul>
  <% @email_names.each do |name| %>


  <li>
    <%= name.capitalize %>
    
    (
    <% if File.exist?("#{Rails.root}/app/emails/#{name}/#{name}.html.erb") || File.exist?("#{Rails.root}/app/emails/#{name}/#{name}.html") %>
      <a href="/mail_preview/email/<%= name %>/">html</a>
    <% end %>
    <% if File.exist?("#{Rails.root}/app/emails/#{name}/#{name}.txt.erb") || File.exist?("#{Rails.root}/app/emails/#{name}/#{name}.txt") %>
    | <a href="/mail_preview/email/<%= name %>/?text=true">txt</a>
    <% end %>
    )
    
    <a href="/mail_preview/email/<%= name %>/?email=true">Download</a>
  </li>

  <% end %>
</ul>

